<div class="container-fluid">
    <div class="row" id="encabezado">
        <div class="col-6 d-flex align-items-center justify-content-sm-start justify-content-center" > 
            <img id="logo" src="assets/images/APLogo-20-20.png" alt="logo">
        </div>
  
        <div class="col-6 d-flex align-items-center justify-content-sm-end justify-content-center"> 
            <span class="redes-img">
                <i class="fa-brands fa-square-facebook"></i>
            </span>

            <span class="redes-img">
                <i class="fa-brands fa-instagram"></i>

            </span>

            <span class="redes-img">
                <i class="fa-brands fa-square-twitter"></i>
            </span>
           
        </div>
    </div>   
</div>

<div id="encabezado-img" class="container-fluid">
    <div class="row pt-3 pb-3 align-items-center">
        <div class="col-11"></div>
        <div class="col-1 d-flex justify-content-center">
            <a href="#" class="text-dark ">
                <span class="accion-ico">
                    <i class="fa-solid fa-pen-to-square"></i>
                </span>
            
            </a>
        </div>
       
    </div>
    
</div>
