   <!-- proyectos -->
   <div class="container-fluid" id="proyectos">
    <div class="row border-bottom">
        <div class="col-sm-3 d-flex justify-content-center align-items-center">
            <div class="col-8">
                <img class="img-fluid rounded-circle mx-auto d-block" src="assets/images/proyectos.jpg" alt="">

                <div class="d-flex justify-content-center align-items-center pt-4">
                    <a href="#top" class="text-dark ">
                        <button type="button" class="btn btn-dark btn-sm" data-toggle="tooltip" data-placement="top" title="Arriba">
                            <span class="accion-ico">
                                <i class="fa-solid fa-circle-up fa-sm"></i>&nbsp; Arriba
                            </span>    
                        </button>
                    </a>   
                </div>

            </div>
           <!--  <div class="col-1 d-flex justify-content-center" >
                <a href="#" class="text-dark ">
                    <span class="accion-ico">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                
                </a>
                     
            </div> -->
        </div>
        
        <div class="col-sm-9 p-4 bg-light">
            <div class="row pt-3 pb-3">
                <div class="col-11 d-flex justify-content-start">
                    <h2>Proyectos</h2> 
                </div>
                
                
                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                    
                    </a>
                         
                </div>

            </div>

             <!-- input datos dinamicos -->

            <div class="row">
                <div class="col-10">
                    <h5>De Arco a Arco </h5>
                    <h6>2020</h6>
            
                    <p>
                        Sitio web institucional desarrollado en Joomla, que permite ademas cargar y exhibir la informacion
                        estadistica de los torneos de futbol de distintas categorias organizados por la empresa.
                    </p>
                    
                    <div class="alert alert-primary" role="alert">
                        Enlace al sitio web del proyecto: <a href="#" class="alert-link">De Arco a Arco </a>
                    </div>
                
                </div>
                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </span>
                    
                    </a>
                </div>
                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </a>
                </div>    
            </div>
            <div class="row">
                <div class="col-10">
                    <h5>Club Gimnasia y Esgrima de Buenos Aires</h5>
                    <h6>2020</h6>
                    <p>    
                        Vivamus aliquam erat nibh, ac rutrum odio dapibus ut. Suspendisse vel turpis tortor. Suspendisse non lectus auctor, 
                        malesuada odio sed, posuere odio. Donec dapibus massa non mauris hendrerit pulvinar. Praesent ullamcorper, purus nec sodales 
                        mollis, nulla risus congue nibh, eu pellentesque eros mauris eget arcu. Integer accumsan eros neque, 
                        vel tincidunt tortor sollicitudin vel. Phasellus felis tortor, finibus at tortor sit amet, venenatis laoreet purus.
    
                    </p>
                    <div class="alert alert-primary" role="alert">
                        Enlace al sitio web del proyecto: <a href="#" class="alert-link">GEBA Futbol interno</a>
                    </div> 
                </div>
                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </span>
                    
                    </a>
                </div>
                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </a>
                </div>    

            </div>
            
        </div>
    </div>
    
</div>
