 <!-- menu -->
 <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Navegacion">
            <span class="navbar-toggler-icon"></span>
        </button> 

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#acerca">Acerca de mi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#educacion">Formacion Educativa</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#experiencia">Experiencia Laboral</a>
                </li>
                

                <li class="nav-item">
                    <a class="nav-link" href="#habilidades">Habilidades</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#proyectos">Mis Proyectos</a>
                </li>
            </ul>
        </div>

        <!-- data-bs-toggle="modal" 
        data-bs-target="#login-modal"  
        (click)="abrirLoginModal()"
        -->

        <button 
            type="button" 
            class="btn btn-dark" 
            (click)="abrirLoginModal()"
            data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            title="Ingreso usuarios"
            *ngIf="!isLogged"
        >
            <span id="user-img" class="p-2">
                <i class="fa-solid fa-circle-user" style='font-size:35px; vertical-align: middle;'></i>
            </span>
        </button>

        <small 
            class="text-light"
            *ngIf="isLogged"
        >
            Bienvenido {{nombreUsuario}}
        </small> 
        
        <button 
            type="button" 
            class="btn btn-dark" 
            (click)="onLogOut()"
            data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            title="Cerrar sesion"
            
            *ngIf="isLogged"
        >
            
            <span id="user-img" class="p-2">
                <i class="fa-solid fa-right-from-bracket" style='font-size:35px; vertical-align: middle;'></i>
            </span>
        </button>
        
        <!-- Login Modal -->
        <div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="login-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    
                    <div class="modal-header">
                        <div class="container">
                            <div class="row">
                                <div class="col d-flex justify-content-end ">
                                    <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-center">
                                    <span id="login-img">
                                        <i class="fa-solid fa-house-user"></i>
                                    </span>
                                  
                                </div>
                                  
                            </div>

                            <div class="row">
                                <div class="col d-flex justify-content-center ">
                                    <h4 class="modal-title" id="login-modal-label">Ingreso de Usuarios</h4>
                                </div>
                                
                            </div>

                        </div>      
                    
                    </div>
                                        
                    <!-- formulario de login -->
                    <form #f = "ngForm" (ngSubmit) = "onLogin()" novalidate>

                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="nombreUsuario">Nombre de usuario<span class="text-danger">*</span></label>
                                <input 
                                    type            = "text" 
                                    id              = "nombreUsuario" 
                                    name            = "nombreUsuario"  
                                    class           = "form-control"  
                                    placeholder     = "Nombre de usuario" 
                                    [(ngModel)]     = "nombreUsuario" 
                                    required 
                                />
                            </div>
                  
                            <div class="mb-3">
                                <label for="password">Contraseña<span class="text-danger">*</span></label>
                                <input 
                                    type        = "password" 
                                    id          = "password"
                                    name        = "password" 
                                    class       = "form-control" 
                                    placeholder = "Contraseña"
                                    [(ngModel)] = "password"
                                    required 
                                />
                            </div>
                              
                            <div class="modal-footer pt-2">                  
                                <button type="submit" class="btn btn-primary mx-auto w-100" data-dismiss="login-modal">
                                    Ingresar
                                </button>
                                
                            </div>
                            <div class="p-2 text-center">
                                <small>
                                    Credenciales de prueba para acceso al sitio:<br>
                                    Usuario: <strong>admin</strong>  Contraseña: <strong>admin</strong> 
                                </small>
                            </div>
                        </div>    
                    </form>    
                </div>
            </div>
        </div>

    </div>
</nav>
<!-- menu -->
