 <!-- educacion -->
 <div class="container-fluid" id="educacion">
    <div class="row border-bottom">
        <div class="col-sm-3 d-flex justify-content-center align-items-center">
            <div class="col-8">
                <img class="img-fluid rounded-circle  mx-auto d-block" src="assets/images/educacion.jpg" alt="">

                <div class="d-flex justify-content-center align-items-center pt-4">
                    <a href="#top" class="text-dark ">
                        <button type="button" class="btn btn-dark btn-sm" data-toggle="tooltip" data-placement="top" title="Arriba">
                            <span class="accion-ico">
                                <i class="fa-solid fa-circle-up fa-sm"></i>&nbsp; Arriba
                            </span>    
                        </button>
                    </a>   
                </div>

            </div> 
            <!-- <div class="col-1 d-flex justify-content-center" >
                <a href="#" class="text-dark ">
                    <span class="accion-ico">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                
                </a>
                     
            </div>    --> 
        </div>
       
        <div class="col-sm-9 p-4 align-content-center">
            <div class="row pt-3 pb-3">
                <div class="col-10 d-flex justify-content-start ">
                    <h2>Formacion Educativa</h2> 
                </div>
                
                
                <div class="col-1 d-flex justify-content-center" >
                </div>
                
                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                    
                    </a>
                         
                </div>

            </div>

             <!-- input datos dinamicos -->

             <div class="row pt-2 pb-2">
                <div class="col-10 ">
                    <div class="card" style="max-width: 85%;">
                        <div class="row g-0">
                            <div class="col-md-3">
                                <img src="assets/images/uk.jpg" class="img-fluid img-thumbnail p-3">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title">Titulo Obtenido</h5>
                                    <p class="card-text">Nombre de la institucion</p>
                                    <p class="small">Cursado entre los años 1990 - 2020</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>            
                </div>
                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </span>
                    
                    </a>
                </div>
                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="row pt-2 pb-2">
                <div class="col-10">
                    <div class="card" style="max-width: 85%;">
                        <div class="row g-0">
                            <div class="col-md-3">
                                <img src="assets/images/uba.jpg" class="img-fluid img-thumbnail p-3">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title">Titulo Obtenido</h5>
                                    <p class="card-text">Nombre de la institucion</p>
                                    <p class="small">Cursado entre los años 1990 - 2020</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>            
                </div>

                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </span>
                    
                    </a>
                </div>
                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </a>
                </div>                    
            </div>
            
            <div class="row pt-2 pb-2">
                <div class="col-10">
                    <div class="card" style="max-width: 85%;">
                        <div class="row g-0">
                            <div class="col-md-3">
                                <img src="assets/images/udemy.png" class="img-fluid img-thumbnail p-3">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title">Titulo Obtenido</h5>
                                    <p class="card-text">Nombre de la institucion</p>
                                    <p class="small">Cursado entre los años 1990 - 2020</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>            
                </div>
                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </span>
                    
                    </a>
                </div>
                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </a>
                </div>              
            </div>              
        

        </div>
    </div>
    
</div>
