 <!-- educacion -->
 <div class="container-fluid">
    <div class="row border-bottom">
        <div class="col-sm-3 d-flex justify-content-center align-items-center">
            <div class="col-8">
                <img class="img-fluid rounded-circle  mx-auto d-block" src="assets/images/educacion.jpg" alt="">
            </div> 
            <div class="col-1 d-flex justify-content-center" >
                <a href="#" class="text-dark ">
                    <span class="accion-ico">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                
                </a>
                     
            </div>    
        </div>
       
        <div class="col-sm-9 p-4 align-content-center">
            <div class="row pt-3 pb-3">
                <div class="col-10 d-flex justify-content-start ">
                    <h2>Educacion</h2> 
                </div>
                
                
                <div class="col-1 d-flex justify-content-center" >
                </div>
                
                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                    
                    </a>
                         
                </div>

            </div>

             <!-- input datos dinamicos -->

             <div class="row">
                <div class="col-10">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Nombre de la intitucion</h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            1990 - 2020
                        </div>
                    </div>
                </div>
                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </span>
                    
                    </a>
                </div>
                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-10">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Nombre de la Institucion</h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            1990 - 2020
                        </div>
                    </div>
                </div>
                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </span>
                    
                    </a>
                </div>
                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </a>
                </div>                    
            </div>
            
            <div class="row">
                <div class="col-10">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Nombre de la Institucion</h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            1990 - 2020
                        </div>
                    </div>
                </div>
                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </span>
                    
                    </a>
                </div>
                <div class="col-1 d-flex justify-content-center" >
                    <a href="#" class="text-dark ">
                        <span class="accion-ico">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </a>
                </div>              
            </div>              
        

        </div>
    </div>
    
</div>
