
    <!-- pie de pagina -->
    <div class="container-fluid bg-dark text-light d-flex align-items-center justify-content-center pie-pagina">
        <div class="row">
            <div class="col p-2 d-flex justify-content-center">              
                <h4>PORTFOLIO</h4> 
            </div>
            <div class="col p-2 d-flex justify-content-center">    
                <small>
                   Nombre y apellido de la persona. Actualizado a 2022
                </small>
            </div>
        </div>
        
    </div>  
